@import "./variables";

.contato{
 background-image: url(../images/bg.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
  h5 {
    i {
      font-weight: 100 !important;
    }
  }
  .card-body{
   text-align:justify;
  }
  .btn{
   font-size: 25px;
  }
}