//Defaults
$primary:#6e3889;
$logoMaxWidth:106px;
//body
$backgroundColor: #171819;
$mainFontColor: #fff;
$minHeight:2000px;
$lineHeight: 26px;
$srcFont:url('../fonts/Aller.ttf');
//navbar
$navPadTop: 0.3125rem;
$navPadBottom:0.9125rem;
//Fonts
$h1FontSize:35px;
$h1SmallFontSize:30%;
$h5FontSize: 30px;
$h5SmallFontSize: 50%;
// Showcase
$showcaseBackground: url('../images/showcase-bg.png');
// Card
$cardBgColor:transparent;
//Paralellax
$paralellaxFontColor: #fff;
$paralellaxBgImage: url('../images/parallax-img.jpg');